@page "/teamslist"

@inject AppState AppState
@inject NavigationManager NavigationManager
@using GloomhavenCompanion.ViewModels

<PageTitle>Liste des équipes</PageTitle>

@if (AppState.Teams == null || AppState.Teams.Count == 0)
{
	<p>Aucune compagnie existante</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nom de la compagnie</th>
				<th>Aventuriers</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var team in AppState.Teams)
			{
				<tr>
					<td>@team.CompanyName</td>
					<td>
						@if (team.Players != null && team.Players.Any())
						{
							<table class="table">
								<thead>
									<tr>
										<th>Nom</th>
										<th>XP</th>
										<th>PO</th>
										<th>HP</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var player in team.Players)
									{
										<tr>
											<td>@player.Name</td>
											<td>@player.Xp</td>
											<td>@player.Coins</td>
											<td>@player.HealthPoints</td>
										</tr>
									}
								</tbody>
							</table>
						}
						else
						{
							<p>Pas de joueurs</p>
						}
					</td>
					<td>
						<button class="btn btn-primary" @onclick="() => SetCurrentTeamAndNavigate(team)">Jouer</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged; // Désabonner pour éviter les fuites de mémoire
	}


	protected override async Task OnInitializedAsync()
	{
		await AppState.LoadTeamsAsync();
	}

	private void RefreshTeamsList()
	{
		StateHasChanged();
	}

	private void SetCurrentTeamAndNavigate(TeamViewModel team)
	{
		AppState.CurrentTeam = team;
		NavigationManager.NavigateTo("/game");
	}
}
